.Popular {
  align-items: center;
  margin: 90px 5px 50px;
}

.Popular-h2 {
   color: DarkOrange;
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   font-weight: 700;
   line-height: 32px;
   margin: 0 0 0px;
   text-align: center;
   }


.Logo {
  background-image: url(./tuwalu-vertical.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  width: 50%;
  height: 30vw;
}

.Logo-h2 {
   color: Black;
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   font-weight: 300;
   line-height: 32px;
   margin: 0 0 5px;
   text-align: left;
}

.Logo-p {
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 14px;
   line-height: 24px;
   margin: 0 0 5px;
   text-align: justify;
   text-justify: inter-word;
  }

