.Popular {
  align-items: center;
  margin: 90px;
}

.Popular-h2 {
   color: DarkOrange;
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   font-weight: 700;
   line-height: 32px;
   margin: 0 0 72px;
   text-align: center;
   }


.Logo {
  background-image: url(./tuwalu-vertical.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  width: 800px;
  height: 600px;
}

.Logo-h2 {
   color: Black;
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   font-weight: 300;
   line-height: 32px;
   margin: 0 0 25px;
   text-align: left;
}

.Logo-p {
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 14px;
   line-height: 24px;
   margin: 0 0 24px;
   text-align: justify;
   text-justify: inter-word;
  }

