.Mainsearch {
   padding: 70px 0px 0px;
   height: 800px;
   text-align: left;
   background-size: 600px;
   background-repeat: no-repeat;
   background-position: right;
   background-color: Orange;
}

.Mainsearch-div {
   position: absolute;
   top: 200px;
   left: 100px;
   display:flex;
   flex-direction:column;
   display: inline-flex;
}

.Mainsearch-title {
   color: DarkOrange;
   text-shadow: 2px 2px #ff0000;
   background-color: Beige;
   font-size: 75px;
   line-height: 74px;
   font-weight: 700;
   margin: 0 5px 24px;
   float: left;
   padding: 10px;
   margin: 0 5px 24px;
   font-family: 'Libre Baskerville', cursive;
}

.Mainsearch-h2 {
   color: Beige;
   text-shadow: 2px 2px #ff0000;
   background-color: DarkOrange;
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   font-weight: 300;
   line-height: 32px;
   margin: 0 0 72px;
   text-align: center;
   }

.Mainsearch-p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

.react-player {
  display: block;
  top: 0;
  left: 0;
  display:flex;
  flex: 0 0 100%;
  flex-basis: 100%;
  width:100%;
}
